Projet.pro.user
build-*/
UTComputer.sln
UTComputer.sdf
UTComputer/Documentation

# VS
Debug/
Release/
x64/
*.VC.db
*.VC.opendb
*.vcxproj.user
*.pro.user
.vs/

# XCode
## Build generated
build/
DerivedData/
.DS_Store

# runtime files
UTComputer/SaveFiles/*

# Doxygen
Documentation/